body {
  font-family: Lato, sans-serif;
  background-color: black;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.fa.menuicon {
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
  opacity: 0.5;
  color: white;
}
.menu {
  position: absolute;
  border-radius: 25px;
  background-color: white;
  border: 2px solid black;
  display: none;
  padding: 25px;
  z-index: 5;
}
.addvideo {
  position: absolute;
  border-radius: 25px;
  background-color: white;
  border: 2px solid black;
  display: none;
  padding: 25px;
  z-index: 10;
  width: 500px;
  height: 185px;
}
.addvideo label {
  display: inline-block;
  font-weight: 700;
  width: 145px;
}
.addvideo input {
  width: 350px;
}
.addvideo #url {
  width: 182px;
}
.addvideo #yturpfx {
  font-size: 11px;
}
#playing {
  position: absolute;
  font-size: 16px;
  bottom: 5px;
  left: 5px;
  color: white;
}
#playing .artist {
  font-weight: 300;
}
#playing .song {
  font-weight: 700;
}
