body {
  font-family: Lato, sans-serif;
  background-color: black;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.fa.menuicon:hover {
  color: lightskyblue;
}
.fa.skipicon:hover {
  color: lightgoldenrodyellow;
}
.fa.menuicon {
  position: absolute;
  font-size: 50px;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.fa.skipicon {
  position: absolute;
  font-size: 50px;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
.menu {
  position: absolute;
  border-radius: 25px;
  background-color: white;
  border: 2px solid black;
  display: none;
  padding: 25px;
  background-color: #E0E0E0;
  z-index: 5;
}
.menu .fa-window-close-o {
  position: absolute;
  right: 10px;
  top: 10px;
}
.import {
  position: absolute;
  border-radius: 25px;
  background-color: white;
  border: 2px solid black;
  padding: 25px;
  z-index: 10;
  width: 220px;
  height: 220px;
  padding: 50px;
  text-align: center;
  transition: background-color 1s ease;
  display: none;
}
.addvideo {
  position: absolute;
  border-radius: 25px;
  background-color: white;
  border: 2px solid black;
  display: none;
  padding: 25px;
  z-index: 10;
  width: 500px;
  height: 185px;
}
.addvideo .fa-window-close-o {
  position: absolute;
  right: 0px;
}
.addvideo label {
  display: inline-block;
  font-weight: 700;
  width: 145px;
}
.addvideo input {
  width: 350px;
}
.addvideo #url {
  width: 182px;
}
.addvideo #yturpfx {
  font-size: 11px;
}
#playing {
  position: absolute;
  font-size: 16px;
  bottom: 5px;
  left: 5px;
  color: white;
}
#playing .artist {
  font-weight: 300;
}
#playing .song {
  font-weight: 700;
}
.songentry {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  margin: 2px;
  cursor: pointer;
}
.songentry .artist {
  font-weight: 300;
}
.songentry .song {
  font-weight: 700;
}
.listing {
  background-color: mediumpurple;
  display: inline-block;
  overflow: auto;
  border: 2px solid black;
}
.queuelist {
  background-color: lightseagreen;
  display: inline-block;
  overflow: auto;
  border: 2px solid black;
}
.drop-library {
  border: 1px dashed black;
}
.play-mode {
  cursor: pointer;
}
.play-mode div {
  display: inline-block;
}
.play-mode:hover {
  color: royalblue;
}
.functi div {
  cursor: pointer;
}
.functi div:hover {
  color: royalblue;
}
.addrandom {
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
}
.addrandom:hover {
  color: royalblue;
}
